{% extends 'base.html.twig' %}

{% block title %}Creation d'une nouvelle sortie{% endblock %}

{% block body %}
    <div>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_errors(form) }}
    </div>
{% endblock %}
