html, body {
    height: 100%;
}
.full-height {
    min-height: 40vh;
}
.center-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    background-color: #f8f9fa;
    padding: 1rem 0;
    text-align: center;
    width: 100%;
}

.logo-img{
    height: 20vh;
}

.table-wrapper {
    max-height: 300px; /* Définir la hauteur maximale du conteneur pour activer le défilement vertical */
    overflow-y: auto; /* Activer le défilement vertical */
}