<nav>
    <ul>
        <li><a href="{{ path('sortie_list') }}">Accueil</a></li>
            <li><a href="{{ path('villes_create') }}">Ville</a></li>
            <li><a href="{{ path('participant_list') }}">Participants</a></li>
    </ul>
</nav>