<h1>Bienvenue à l'ENI!</h1>
<p>Bonjour {{ participant.prenom }}!</p>
<p>Voici le lien qui te permettra de rejoindre la communauté de l'école:</p>

<a href='http://localhost/boomParty/public'>Accéder à BoomParty!</a>

<p> Utilisez votre <u>email</u> pour votre première connexion!</p>
<p>Ainsi que le <u>mot de passe</u>: {{ participant.password }}</p>
